ScriptGeneration/ScriptGeneration/obj/Debug/
ScriptGeneration/.vs/
ScriptGeneration/ScriptGeneration/bin/Debug/netcoreapp2.1/ScriptGeneration.deps.json
ScriptGeneration/ScriptGeneration/bin/
ScriptGeneration/ScriptGeneration/obj/ScriptGeneration.csproj.nuget.cache
ScriptGeneration/ScriptGeneration/obj/
